.cloud-icon{
    font-size: 4rem;
    padding:1rem;
    color:white;
}

.links{
    color:white;
    text-decoration: none;
    font-size: 2rem;
    text-shadow: -1.5px -1.5px 0 #003F87, 1.5px 1.5px 0 #003F87, 0 -1.5px 0 #003F87,
	0 1.5px 0 #003F87, 1.5px -1.5px 0 #003F87, -1.5px 1.5px 0 #003F87, 1.5px 0 0 #003F87,
    -1.5px 0 0 #003F87; 
    letter-spacing: 2px;
}
.navLinks:hover{
    transform: scale(1.2);
    transition: .5s;
}