.App {
  text-align: center;
  background-image: url(./background.jpg);
  background-size: cover;
  height: 100%;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  color: white;
  font-size: 50px;
  font-weight: 800;
  /* font-family: 'Lobster', cursive; */
  font-family: 'Pacifico', cursive;
  padding: 3rem;
}
.link {
  color: white;
  font-family: 'Arvo', serif;
  font-size: 25px;
  margin-bottom: 4rem;
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email, .password {
  display: flex;
}
 label {
   margin-right: 5px;
 }
 input {
   background-color: #f1f1f1;;
 }
 #submit {
   border-radius: 5px;
 }
.item {
  line-height: 2;
  margin-bottom: 30px;;
}
.signUp, .logIn, .student, .volunteer, .administrator {
  color: rgb(41, 37, 37);
  font-size: 20px;
}
.displayCard {
  display: flex;
  flex-direction: column;
  line-height: 0.8;
 
  
}
.displayCards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}
