.sign-up-link{
    color:white;
    margin-left: 1rem;
    text-decoration: none;
}
.label2{
        padding:1em;
        font-size: 1.5rem;
        width: 100%;
        margin-top: 1rem;
        border: #003F87 2px solid;
        color: #003F87;
        margin-left: .2rem; 
    
}